<!--404静态页面-->
<!DOCTYPE html>
<html>
<head>
    <title>失败</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="http://203.195.235.76/jssdk/css/style.css">
    <link rel="stylesheet" href="/static/dist/lib/weui.min.css">
    <link rel="stylesheet" href="/static/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/css/demos.css">
</head>

<body ontouchstart>

<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_fail weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">404</h2>
        <p class="weui_msg_desc">您访问的页面错误啦!</p>
    </div>
</div>
</body>
</html>
