$def with (data)
<!--绑定设备成功后显示-->
<html>
<head>
    <title>成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="http://203.195.235.76/jssdk/css/style.css">
    <link rel="stylesheet" href="/static/dist/lib/weui.min.css">
    <link rel="stylesheet" href="/static/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/css/demos.css">
</head>

<body>

<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">绑定设备成功</h2>
        <p class="weui_msg_desc">您已成功绑定设备,当前微信为管理员</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="javascript:goHome()" class="weui_btn weui_btn_primary">前往主页</a>
            <!--<a href="javascript:close();" class="weui_btn weui_btn_default">关闭页面</a>-->
            <script>
                function goHome(){
                    window.location.href="/home?username"=data['username'];
                }
            </script>
        </p>
    </div>
    <!--<div class="weui_extra_area">-->
    <!--<a href="">查看详情</a>-->
    <!--</div>-->
</div>

<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/demo.js"></script>
</body>
</html>
