$def with (data)
<!--显示设备信息界面-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>设备信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="http://203.195.235.76/jssdk/css/style.css">
    <link rel="stylesheet" href="/static/dist/lib/weui.min.css">
    <link rel="stylesheet" href="/static/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/css/demos.css">

    <style>
    </style>
</head>

<body ontouchstart>
<br>
<p class="demos-sub-title">更新时间&nbsp;&nbsp;<span id="time"></span></p>
<hr>
<div>
    <div class="weui_cells_title">基本信息</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>设备ID</p>
            </div>
            <div class="weui_cell_ft">$data['id']</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>生产日期</p>
            </div>
            <div class="weui_cell_ft">$data['ct']</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>绑定状态</p>
            </div>
            <div class="weui_cell_ft">$data['bs']</div>
        </div>
        </div>
    <div class="weui_cells_title">数据收集</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>已完成数据上传次数</p>
            </div>
            <div class="weui_cell_ft">$data['count']次</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>最后一次上传时间</p>
            </div>
            <div class="weui_cell_ft">$data['last']</div>
        </div>
    </div>
    <div class="weui_cells_title">指令延时调整</div>
    <div class="weui_cells">
        <div class="weui_cell weui_cell_select">
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" id="delay_select" name="select1">
                    <option selected="" value="30">30秒</option>
                    <!--<option value="20">20秒</option>-->
                    <option value="15">15秒</option>
                    <!--<option value="10">10秒</option>-->
                    <!--<option value="5">5秒</option>-->
                </select>
            </div>
        </div>
    </div>
</div>
<br>
<a href="" class="weui_btn weui_btn_default">刷  新</a>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/demo.js"></script>
<script>
$$(document).ready(function(){
    $$("#time").text(getTime());

    $$("#delay_select").change(function(){
        var d=$$(this).val();//这就是selected的值
        $$.post("?",{delay:d},
                function(data){

                },
                "text");//这里返回的类型有：json,html,xml,text
    })

    $if data['rf']>15:
        $$("delay_select").val("30");
    $else:
        $$("delay_select").val("15");
});

function getTime() {
    var date = new Date();
    return date.getHours()+":"+(date.getMinutes())+":"+date.getSeconds();
}
</script>
</body>
</html>
