$def with (data)
<!--主页  控制台 绑定后才能显示-->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>控制台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="http://203.195.235.76/jssdk/css/style.css">
    <link rel="stylesheet" href="/static/dist/lib/weui.min.css">
    <link rel="stylesheet" href="/static/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/css/demos.css">
</head>
<body>
<div class="demos-header">
    <h2 class='demos-second-title'>控制中心</h2>
    <p class='demos-sub-title'>Powered by FINDBAKE</p>
</div>

<div class="weui_grids">
    <a href="/device" class="weui_grid js_grid" data-id="button">
        <div class="weui_grid_icon">
            <img src="/static/images/home_device.png" alt="">
        </div>
        <p class="weui_grid_label">
            设备
        </p>
    </a>
    <a href="/user" class="weui_grid js_grid" data-id="cell">
        <div class="weui_grid_icon">
            <img src="/static/images/home_user.png" alt="">
        </div>
        <p class="weui_grid_label">
            账号
        </p>
    </a>
    <!--<a href="/power" class="weui_grid js_grid" data-id="cell">-->
        <!--<div class="weui_grid_icon">-->
            <!--<img src="/static/images/home_power.png" alt="">-->
        <!--</div>-->
        <!--<p class="weui_grid_label">-->
            <!--电量-->
        <!--</p>-->
    <!--</a>-->
    <!--<a href="/flow" class="weui_grid js_grid" data-id="toast">-->
        <!--<div class="weui_grid_icon">-->
            <!--<img src="/static/images/home_flow.png" alt="">-->
        <!--</div>-->
        <!--<p class="weui_grid_label">-->
            <!--流量-->
        <!--</p>-->
    <!--</a>-->
    <a href="/location" class="weui_grid js_grid" data-id="dialog">
        <div class="weui_grid_icon">
            <img src="/static/images/home_location.png" alt="">
        </div>
        <p class="weui_grid_label">
            定位
        </p>
    </a>
    <a href="/sound" class="weui_grid js_grid" data-id="progress">
        <div class="weui_grid_icon">
            <img src="/static/images/home_sound.png" alt="">
        </div>
        <p class="weui_grid_label">
            声音
        </p>
    </a>
    <a href="/feedback" class="weui_grid js_grid" data-id="msg">
        <div class="weui_grid_icon">
            <img src="/static/images/home_feedback.png" alt="">
        </div>
        <p class="weui_grid_label">
            反馈
        </p>
    </a>
    <a href="/service" class="weui_grid js_grid" data-id="article">
        <div class="weui_grid_icon">
            <img src="/static/images/home_service.png" alt="">
        </div>
        <p class="weui_grid_label">
            客服
        </p>
    </a>
</div>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/demo.js"></script>
</body>
</html>
