<!--显示客服信息界面-->
<!DOCTYPE html>
<html>
<head>
    <title>联系客服</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="http://203.195.235.76/jssdk/css/style.css">
    <link rel="stylesheet" href="/static/dist/lib/weui.min.css">
    <link rel="stylesheet" href="/static/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/css/demos.css">

    <style>
        .code{
        width:100%;
        margin:0 auto;
        text-align:center;
        }

    </style>
</head>

<body ontouchstart>
<div class="demos-header">
    <h2 class='demos-second-title'>客服</h2>
    <p class='demos-sub-title'>Powered by FINDBAKE</p>
</div>
<br>
<p class='demos-sub-title'>扫描下方二维码,添加客服微信</p>
<br>
<div>
    <div class="code"><img src="/static/images/service.jpg"/></div>
</div>

<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/demo.js"></script>
</body>
</html>
